<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/public/css/app.css" />
    <!-- custom.css doesn't exist in the default installation (see README.md) -->
    <link rel="stylesheet" href="/public/css/custom.css" />
    <title>{{t key="layout_1" withSpan=false}}</title>
    <script src="/public/js/treenee.js" async></script>
  </head>
  <body>
    <header>{{t "layout_2"}}</header>
    <main>{{{content}}}</main>
    <footer></footer>
  </body>
</html>
