@import 'normalize.css';

:root {
  --background-color: rgb(245, 245, 245);
  --secondary-color: rgb(200, 215, 229);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background-color);
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body > header {
  background-color: var(--secondary-color);
  padding: 1rem;
  text-align: right;
}

footer {
  min-height: 4rem;
}

main {
  padding: 0 5vw;
  margin: 0 auto;
  max-width: 50rem;
}

.content {
  margin-bottom: 2rem;
  font-size: clamp(1rem, 4vw, 1.2rem);
}

.content h1 {
  border-bottom: 3px solid var(--secondary-color);
  font-weight: normal;
  margin-top: 0;
  padding: 1rem;
  padding-left: 0;
}

.content h2 {
  font-weight: normal;
}

.nav {
  border-top: 3px solid var(--secondary-color);
  text-align: right;
}

.nav a {
  color: #4e6a94;
  font-weight: bold;
}

.nav a:hover {
  opacity: 0.7;
}

.node .prompt {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav,
.node .options {
  padding: 0;
}

.nav li {
  display: inline-block;
  list-style-type: none;
}

.node .options li {
  display: block;
  list-style-type: none;
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  border-left: 4px solid transparent;
  border-radius: 8px;
  box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-bottom: 1rem;
  position: relative;
  width: 80%;
}

.node .options li:not(.unselectable-option):hover {
  border-left-color: rgb(72, 172, 152);
}
.node .options li:not(.unselectable-option)::after {
  color: rgb(220, 220, 220);
  content: '>';
  font-size: 36px;
  right: 16px;
  position: absolute;
  top: 0;
}

.node .options li a {
  background-color: transparent;
  color: rgb(100, 100, 100);
  display: inline-block;
  padding: 1rem;
  width: 100%;
}

.tree .start a,
.node .options li a {
  color: black;
  display: inline-block;
  min-width: 20rem;
  text-decoration: none;
}

.node .options li.unselectable-option {
  background-color: rgb(210, 210, 210);
  color: gray;
  padding: 1rem;
}

form .input {
  display: inline-block;
}

.error {
  color: red;
}

.tree .start {
  text-align: center;
}

.tree .start a {
  background-color: #b1e267;
  color: #517817;
  text-transform: uppercase;
  min-width: 10rem;
}

.tree .start a:hover {
  border-bottom-color: #517817;
}

.notice {
  background-color: #f8f09a;
  padding: 1rem;
}

.start-again {
  text-align: right;
}
