<div class="node">
  <section class="content">
    <h1>{{ tree.title }}</h1>
    <h2>{{ node.title }}</h2>
    <p>{{{ node.body }}}</p>
    {{#if previousVisit}}
    <p class="notice">&#9888; You already selected an option for this prompt.</p>
    {{/if}}
    {{#if node.options}}
    <p class="prompt">{{ node.prompt }}</p>
    <ul class="options">
      {{#each node.options}}
        {{#if ../previousVisit}}
          {{#if (eq _id ../previousVisit.optionId)}}
          <li>
            {{#if (is-url onSelect)}}
            <a href="{{onSelect}}">{{{ text }}}</a>
            {{else}}
            <a href="/tree/{{ ../tree._meta.slug }}/{{ onSelect }}?p={{ ../node.id }}&o={{ _id }}">{{{ text }}}</a>
            {{/if}}
          </li>
          {{else}}
          <li><span>{{{ text }}}</span></li>
          {{/if}}
        {{else}}
        <li>
          {{#if (is-url onSelect)}}
          <a href="{{onSelect}}">{{{ text }}}</a>
          {{else}}
          <a href="/tree/{{ ../tree._meta.slug }}/{{ onSelect }}?p={{ ../node.id }}&o={{ _id }}">{{{ text }}}</a>
          {{/if}}
        </li>
        {{/if}}
      {{/each}}
    </ul>
    {{else}}
    <p class="start-again">
      You reached the end; <a href="/tree/{{ tree._meta.slug }}">start again</a>?
    </p>
    {{/if}}
  </section>

  <section class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a onclick="window.history.back()" href="#">Back</a></li>
      {{#if node.options}}
      <li><a href="/tree/{{ tree._meta.slug }}">Abort and restart</a></li>
      {{/if}}
    </ul>
  </section>
  {{#if score}}
  <hr />
  <p>Final score: {{ score }}</p>
  {{/if}}
</div>
