<div class="node">
  <section class="content">
    <h1>{{ tree.title }}</h1>
    <h2>{{ node.title }}</h2>
    <div class="body">
    {{#if (eq tree.bodyFormat "text")}}
      {{ body }}
    {{else}}
      {{{ body }}}
    {{/if}}
    </div>
    {{#if previousVisit}}
    <p class="notice">{{t "node_1"}}</p>
    {{/if}}
    {{#if node.options}}
    <div class="options-container">
      <p class="prompt">{{ node.prompt }}</p>
      <ul class="options">
        {{#each node.options}}
          {{#if ../previousVisit}}
            {{#if (eq _id ../previousVisit.optionId)}}
            <li>
              {{#if (is-url onSelect)}}
              <a href="{{onSelect}}">{{{ text }}}</a>
              {{else}}
              <a href="/tree/{{ ../tree._meta.slug }}/{{ onSelect }}?p={{ ../node.id }}&o={{ _id }}">{{{ text }}}</a>
              {{/if}}
            </li>
            {{else}}
            <li class="unselectable-option">{{{ text }}}</li>
            {{/if}}
          {{else}}
          <li>
            {{#if (is-url onSelect)}}
            <a href="{{onSelect}}">{{{ text }}}</a>
            {{else}}
            <a href="/tree/{{ ../tree._meta.slug }}/{{ onSelect }}?p={{ ../node.id }}&o={{ _id }}">{{{ text }}}</a>
            {{/if}}
          </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
    {{else}}
    <p class="start-again">
      {{t "node_2"}} <a href="/tree/{{ tree._meta.slug }}">{{t "node_3"}}</a>
    </p>
    {{/if}}
  </section>

  <section class="nav">
    <ul>
      <li><a href="/">{{t "shared_1"}}</a></li>
      <li><a onclick="window.history.back()" href="#">{{t "shared_2"}}</a></li>
      {{#if node.options}}
      <li><a href="/tree/{{ tree._meta.slug }}">{{t "shared_3"}}</a></li>
      {{/if}}
    </ul>
  </section>
  {{#if score}}
  <hr />
  <p>{{t "node_4"}} {{ score }}</p>
  {{/if}}
</div>
